//Created by DanielBrena on 25/05/15.

extends ../layout
block content
   div(ng-controller='AdminCtrl')
      .row
         .col-lg-2
         .col-lg-8
            .row
               .col-lg-4
                  .row
                     .col-lg-10
                        .thumbnail
                           img(src='',alt='')
                           .caption
                              h3 Personal
                              p Da de alta a tu personal o conductor.
                              p
                                 a(href='',class='btn btn-primary',role='button') Crear
                                 a(href='',class='btn btn-default',role='button') Crear

               .col-lg-4
                  .row
                     .col-lg-10
                        .thumbnail
                           img(src='',alt='')
                           .caption
                              h3 Autobus
                              p Da de alta a tu autobus.
                              p
                                 a(href='',class='btn btn-primary',role='button') Crear

                                 a(href='',class='btn btn-default',role='button') Crear
               .col-lg-4
                  .row
                     .col-lg-10
                        .thumbnail
                           img(src='',alt='')
                           .caption
                              h3 Arduino
                              p Da de alta a tu arduino.
                              p
                                 a(href='',class='btn btn-primary',role='button') Crear

                                 a(href='',class='btn btn-default',role='button') Crear
         .col-lg-2

      .row
         .col-lg-2
         .col-lg-8
            .row
               .col-lg-4
                  .row
                     .col-lg-10
                        .thumbnail
                           img(src='',alt='')
                           .caption
                              h3 Rutas
                              p Da de alta tus rutas.
                              p
                                 a(href='',class='btn btn-primary',role='button') Crear
                                 a(href='',class='btn btn-default',role='button') Crear